# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
env/
venv/

# System files
.DS_Store
Thumbs.db

# Raw scraped data (optional)
raw_schools/
raw_staff/
all_schools_ontology.json
all_schools_staff.json

# Logs, caches
*.log

# VS Code
.vscode/

# Temporary files
*.tmp
